<% provide(:title, 'Sign up') %>
<h1>アカウント登録</h1>

<div class="row">
  <div class="span6 offset3">
   <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :アカウント名 %>
      <%= f.text_field :name %>

      <%= f.label :メールアドレス %>
      <%= f.text_field :email %>

      <%= f.label :パスワード %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation %>

<div class="field">
  <% if @user.user_image? %>
  <div class="thumbnail">
  <%= image_tag @user.user_image.url %>
</div>
  <% end %>
  <%= f.label :user_image ,"画像(最大容量1MB)" %>
  <%= f.file_field :user_image %>
</div>
<div class="field">
<!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
  <% if @user.persisted? && @user.user_image? %>
    <label>
      <%= f.check_box :remove_user_image %>
      画像を削除<br><br>
    </label>
  <% end %>
</div>

      <%= f.submit "アカウントを作成", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>